
body {
    margin: 0px;
    background: #efefef;
    font-family: sans-serif;
	font-size: 16px;
}

#controls {
	box-sizing: border-box;
	width: 350px;
	height: 100%;
	padding: 16px;
	overflow: hidden;
}