
body {
    margin: 0px;
    background: #efefef;
    font-family: sans-serif;
	font-size: 16px;
	text-align: right;
}

#controls {
	box-sizing: border-box;
	width: 256px;
	height: 100%;
	padding: 16px;
}

/*button {
	margin: 0px;
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 1px;
	padding: 4px;
	cursor: pointer;
	outline: none;
}
*/
